/* Layout.module.css */
.container {
  display: flex;
  height: 100vh;
  background-color: var(--color-bg-default);
  color: var(--color-text-primary);
}

.content {
  flex-grow: 1;
  padding: 24px;
  overflow-y: auto;
  background-color: var(--color-bg-default);
}

@media (max-width: 600px) {
  .content {
    margin-left: 0; /* Remove left margin on mobile */
  }
}