.container {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 24px;
  overflow-y: auto;

  max-width: 960px;  /* Set a max width for all content */
  margin-left: auto; /* Center horizontally */
  margin-right: auto;
  width: 100%;       /* Ensure it shrinks on small screens */
}

@media (max-width: 600px) {
  .content {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%; /* Full width on small screens */
    padding-left: 12px;
    padding-right: 12px;
  }
}
