.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.searchWrapper {
  width: 100%;
  max-width: 250px;
  height: 36px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  background-color: var(--color-light-grey);
  padding-left: 12px;
  padding-right: 8px;
}

.MuiInputBase-root {
  flex: 1;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
}

@media screen and (max-width: 768px) {
  .searchWrapper {
    margin-bottom: 10px;
  }
  
}